# Fichiers temporaires de SageMath et Python
*.pyc
__pycache__/
*.sage.py
*.sage.py.p
*.py.p
*.ipynb_checkpoints/
*.py[cod]
*$py.classs

.ipynb_checkpoints/
*.ipynb

bin/
micromamba

# Dossiers temporaires ou locaux
local/
*.swp
.DS_Store

.vscode/
.idea/
*.swp
